<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index2.css">
    <link rel="stylesheet" href="../public/css/harshheader.css">
    <link rel="icon" type="image/x-icon" href="../publ  ic/image/favicon.ico" >
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <script src="/views/index.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    
      <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity=
    "sha512-jKX8EOtiVrylMIEk2nRkf5KowSF8+AJslPduL+oV4FqnyxSQxL0t4rKOeKKvntPtskFi1q6hBld6HzfdjZlnfA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />


      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

    <div class="p-0">
		<%- include('./common/header2.ejs') %>
	</div>

   
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="col-md-12">
            <h4 style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Night-Wear

            </h6>
        </div>

    </div>
    
    <div class="contain mt-5">
        <div id="recipeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <% for(var i = 0; i < regdata.length; i++) { %>
                    <div class="carousel-item <% if(i === 0) { %>active<% } %>">
                                <div class="cards ms-4">
                                    <div class="imgBx">
                                        <img src="<%= regdata[i].image %>" alt="Product Image">
                                        <ul class="action">
                                            <li>
                                                <button class="whislistCartBtn border-0 bg-transparent"
												data-product-name="<%= regdata[i].product_name %>"
												data-price="<%= regdata[i].price %>"
												data-image="<%= regdata[i].image %>"
                                                data-image="<%= regdata[i].quantity%>"

												 
												
												
												>
												<i class="fa fa-heart" aria-hidden="true"></i>
												<span>Add to wishlist</span>
												</button>
                                            </li>
                                            <li>
                                                <button class="addToCartBtnn border-0 bg-transparent"
                                                product-name="<%= regdata[i].product_name %>"
                                                data-price="<%= regdata[i].price %>"
                                                data-image="<%= regdata[i].image %>"
                                                data-image="<%= regdata[i].quantity%>"
                                                
                                                >
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <span>Add to cart</span>
                                            </button>
                                            </li>
                                            <li><a href="/nightwear/<%= regdata[i].product_id%>">
												<i class="fa fa-eye" aria-hidden="true" style="color: black;"></i></a>
												<span>View Details</span>
											</li>
                                        </ul>
                                </div>
                                    <div class="content">
                                        <div class="productName"><%= regdata[i].product_name %></div>
                                        <div class="price-rating">
                                            <h2><%= regdata[i].price %></h2>
                                            <div class="rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa grey fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                <% } %>
            </div>
            <a class="carousel-control-prev bg-dark w-auto pnbt" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-dark w-auto pnbt" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    


    <div class="container-fluid p-0 mt-5">
		<%- include('./common/footer.ejs') %>
	</div>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        // JavaScript for handling carousel items
        let items = document.querySelectorAll('.carousel .carousel-item');
        items.forEach((el) => {
            const minPerSlide = 4;
            let next = el.nextElementSibling;
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // Wrap carousel by using first child
                    next = items[0];
                }
                let cloneChild = next.cloneNode(true);
                el.appendChild(cloneChild.children[0]);
                next = next.nextElementSibling;
            }
        });
    
        $(document).ready(function () {
    $('.addToCartBtnn').on('click', function () {
        
        const productName = $(this).attr('product-name');
      
        const price = $(this).data('price');
        console.log('price');

        const image = $(this).data('image');
        const quantity = $(this).data('quantity');

        
        $.ajax({
            url: '/cart',
            method: 'POST',
            data: {
                product_Name: productName,
                price: price,
                image: image,
                quantity: quantity
            },
            success: function (res) {
                Swal.fire({
                    icon: "success",
						title: "Success",
						text: "Product added to cart successfully"
                }).then(function(){
                        location.reload()
                    })
                // Optionally update UI or perform additional actions on success
            }
			,
            error: function (error) {
                console.error('Error adding product to cart:', error);
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Failed to add product to cart. Please try again later."
                });
                // Handle error, show error message, etc.
            }
        });
    });
}); 




        

$(document).ready(function () {
    $('.whislistCartBtn').on('click', function () {
        const productName = $(this).data('product-name');
        const price = $(this).data('price');
        const image = $(this).data('image');

        $.ajax({
            url: '/whislist',
            method: 'POST',
            data: {
                product_Name: productName,
                price: price,
                image: image,
            },
            success: function (res) {
                Swal.fire({
                    icon: "success",
                    title: "Success",
                    text: "Product added to whislist successfully"
                }).then(function(){
                        location.reload()
                    })
                // Optionally update UI or perform additional actions on success
            },
            error: function (error) {
                console.error('Error adding product to cart:', error);
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Failed to product to whislist. Please try again later."
                });
                // Handle error, show error message, etc.
            }
        });
    });
});
    </script>
    
</body>
</html>
